{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}

<h1 class="bg-warning text-Primary">Welcome to winter</h1>
<h2 class="bg-info text-danger">
    Happy New Year
</h2>
<p class="bg-secondary text-dark text-center">
    <img src="{% static 'Image/11.jpeg' %}"
    class="rounded-circle"width="150px" height="150px">

ถ้าเราเชื่อมั่นว่าทำได้ ต่อให้ต้องย้ายภูเขาถมทะเล
ในที่สุดก็สำเร็จจนได้ แต่ถ้าใจเราคิดว่าทำไม่ได้<br>
แม้จะง่ายแค่พลิกฝ่ามือ ก็ยังไม่มีวันประสบความสำเร็จ<br>
- ด.ร.ซุนยัดเซ็น -
</p> <br>
<p class="btn-success text-danger text-center">
    <img src="{% static 'Image/22.jpg' %}"
    class="rounded-circle"width="150px" height="150px">
   "ความสำเร็จ" คือผลรวมของความพยายามเล็กๆ
    ที่เกิดขึ้นซ้ำๆเป็นประจำทุกวัน"
- Robert Collier -
American author
</p>
<br>
<ul type="square" class="list-group">
    <li class="list-group-item-primary">สิ่งที่สนใจ</li>
    <li class="list-group-item">Game</li>
    <li class="list-group-item" >Movie</li>
    <li class="list-group-item">Song</li>
    <li class="list-group-item">Sleeping</li>
</ul> <br>
<ol type="A" class="list-group">
    <li class="list-group-item-primary">เว็บที่สนใจ</li>
    <li class="list-group-item"><a href="http://facebook.com" target="_blank">facebook.com</a><li>
    <li class="list-group-item">prthon.com</li>
    <li class="list-group-item">w3shcool.com</li>
    <li class="list-group-item">github.com</li>

</ol>
<a href="/firstpage"class="btn btn-success">Go to firstpage </a>
{% endblock %}

