{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<p>
โอเค อา ยู เรดี้? พอล เล็ท มี เทลยู<br>
ว็อท มี เทล เด็ม ‘ปน ดิ ทรอน’<br>
ล็อคกิ้ง อิท จัส ไลค์ แดท<br>
พอล เล็ทมี เอ๊ะ เอ๊ะ เอ๊ะ เอ๊ะ เอ๊ะ เอ๊ะ<br>
ล็อคกิน อิท อิท พอล เล็ทมี เอ๊ะ เอ๊ะ เอ๊ะ เอ๊ะ เอ๊ะ เอ๊ะ ล็อคกิน อิท อิท<br>

</p>
    <a href="/firstpage"> Go to firstpage</a><br>
     <a href="/thirdpage"> Go to thirdpage</a>
    <p align="center">
    <img src="../static/image/23.jpg"width="400px"height="350px">
</p>

{% endblock %}